@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --fondo-color: #172742;
  --azul-firts: #1760E5;
  --blanco: #fff;
  --fondo-login: #699bf7;
  --negro: #000;
  --gris-login: #292C33;
  --verde-promo: #0FFF27;
  --azul-dias: #0897B7;
  --verde-horas: #45DD2C;
}

.rol a{
    color: var(--blanco);
}

/* Usuario */

#fondo_login {
    background: linear-gradient(180deg, #0792B6 0%, #09109C 100%);
    height: 110vh;
}

.formulario {
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #fff;
    background: #0a1736;
    box-shadow: 0px -10px 4px 2px rgba(0, 0, 0, 0.35);
    margin: 0 auto;
    position: relative;
    top: 2.5em;
    height: 27em;
    width: 27em;
}

.titulo_sesion {
    color: var(--blanco);
    text-align: center;
    font-family: roboto;
    font-size: 1.5em;
    position: relative;
    top: 1.5em;
}

.formulariouser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-user {
    padding: 20px;
}

.usuario {
    background: #292C33;
    border: 0;
    border-bottom: solid 3px var(--blanco);
    color: var(--blanco);
    padding: 5px;
    margin: 20px;
    width: 370px;
}

.usuario::placeholder {
    position: relative;
    left: 15px;
}

.btn-login {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.btn-entrar {
    border: 1px solid #fff;
    background: green;
    height: 50px;
    font-weight: bold;
    padding: 10px;
    width: 115px;
}

.recovery {
    padding: 20px;
    text-align: center;
}

.recovery a {
    color: var(--blanco);
}

figure {
    display: flex;
    align-items: center;
}

figcaption {
    color: var(--blanco);
    padding: 10px;
    font-size: 1.7em;
}

.iconos {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icon-user {
    height: 45px;
    width: 45px;
}

footer {
    color: var(--blanco);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    position: relative;
    top: 3.5em;
}

/* Final de usuario */

/* Pantalla principal de administrador */

#fondo_body {
    background-color: #172742;
}

.menu_admin {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_estudent {
    align-content: center;
    display: flex;
    flex-direction: column;
}

/* Contenedores */

.items_admin {
    align-items: center;
    border-radius: 30px;
    border: solid 2px var(--blanco);
    background: #00000025;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    transition: 0.6s;
    overflow: hidden;
    margin: 10px;
    height: auto;
    width: 236px;
}

.items_admin img {
    height:185px; 
    width: 200px;
}

.items_admin p {
    color: var(--blanco);
    font-size: 1.3em;
    text-shadow: 3px 3px 3px #292C33;
}

.items_admin:hover {
    background-color: #0792B6;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.items_admin h2 a {
    color: var(--blanco);
    text-decoration: none;
    text-shadow: 2px 2px 2px #08052c;
}

.items_admin h2 a:hover {
    color: #0cd1b0;
} 

.items_admin ul li {
    align-items: center;
    color: var(--blanco);
    display: inline;
    font-size: 1.5em;
    transition: 0.3s;
    text-align: center;
    text-shadow: 1px 1px 1px #292C33;
    position: relative;
    right: 16px;
}

.items_admin ul li:hover {
    color: #000;
}

.users_add {
    border: 0;
    background-color: #172742;
    color: var(--blanco);
    font-size: 20px;
    text-align: center;
}

.users_add option {
    padding: 10px;
}

/* Final de contenedor items */

.imagen_admin  {
    bottom: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    width: auto;
}

.imagen_admin img {
    width: 350px;
    height: 220px;
    object-fit: cover;
}

.header_administrador {
    bottom: 110px;
    display: grid;
    justify-items: end;
    position: relative;
    padding: 10px;
    margin-right: 15px;
}

.header_administrador img {
    width: 85px;
    height: 85px;
}

.header_administrador h2 {
    color: var(--blanco);
    font-size: 15px;
    text-align: center;
}

/* Gestion de usuarios */

.titulo_usuario {
    color: var(--blanco);
    text-align: center;
}

/* Profesor admin */
.img_add {
    bottom: 45px;
    display: flex;
    position: relative; 
    left: 1105px;   
}

.img_add_math {
    bottom: 45px;
    display: flex;
    position: relative; 
    left: 380px;
}

.img_add_plus {
    bottom: 45px;
    display: flex;
    position: relative; 
    left: 380px;
}

.titulo_profesor_admin {
    align-items: center;
    background-color: #0A0E20;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.titulo_profesor_admin img {
    position: relative;
    right: 230px;
}

.titulo_profesor_admin h1 {
    position: relative;
    right: 230px;
}

/* Tablas */
.table_content {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    top: 80px;
}

.table_Profe {
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--blanco);
}

.table_materia {
    width: 350px;
}

th {
    color: var(--blanco);
    text-align: center;
    text-shadow: 3px 3px 3px #292C33;
    padding: 5px;
}

td {
    background-color: var(--blanco);
    font-family: roboto;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.edit_delet {
    display: flex;
    justify-content: space-evenly;
}

/* Final de tablas */

.titulo_profesor_admin {
    color: var(--blanco);
}

/* Final de administrador */

/* Estudiante */

.direc_curs {
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #0A0E20;
    flex-shrink: 0;
    height: 46px;
    width: 360px;
}

.direc_curs label {
    color: #FFF;
    font-family: Roboto;
    font-size: 27.344px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.direc_curs input {
    background-color: #0897B7;
    border: solid 1px var(--blanco);
    color: #fff;
    text-align: center;
    text-shadow: 0.7px 1px 1px #292C33;
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: normal;
}

/* Final de estudiante */

/* Formularios */

.content_form {
    padding-bottom: 30px;
}

form {
    background-color: #0a1736;
    border: 1px solid var(--blanco);
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    transition: 0.5s;
  }

  form:hover {
    box-shadow: 3px ;
  }

  form input {
    margin-bottom: 1rem;
    border: 1px solid var(--blanco);
  }
  form button {
    color: var(--blanco);
    cursor: pointer;
    background: green;
    border: solid 1px var(--blanco);
    font-size: 14px;
    transition: 0.3s;
    padding: 1em;
  }

  form button:hover {
    background-color: rgba(0, 128, 0, 0.836);
  }

  fieldset {
    color: var(--blanco);
    transition: 0.3s;
  }

  fieldset:hover {
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.25);
  }
  
  label {
    color: var(--blanco);
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 17px;
  }

  .content_usuAna {
    margin: 0 auto;
    width: 430px;
  }

  .usuAna {
    width: 150px;
  }

  input:focus {
    outline: 1px solid var(--blanco);
  }

  ::-webkit-calendar-picker-indicator {
    background-color: var(--blanco);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.1s;
  }

  ::-webkit-calendar-picker-indicator:active {
    background-color: #1760E5;
  }

/* Media query del login */

@media screen and (max-width: 560px) {
    .formulario {
        width: 100%;
    }

    figure {
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    figure img {
        height: 200px;
        width: 170px;
    }

    .formulario {
        width: 100%;
    }

    fieldset {
        border: 0;
      }

    /* Media query de los items */

    .items_admin {
        text-align: center;
        width: 200px;
        height: 80px;
    }

    .items_admin:hover {
        background-color: #0792B6;
    }

    .items_admin ul li {
        visibility: hidden;
    }

    footer {
        visibility: hidden;
    }

    .icono_houston {
        position: relative;
        right: 152px;
    }

    .icono_houston figcaption {
        font-size: 16px;
    }

    .icono_houston img { 
        width: 75px;
        height: 80px;
    }

    .header_administrador {
        position: relative;
        bottom: 146px;
        left: 18px;
    }

    .items_admin p {
        visibility: hidden;
    }

}