@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --fondo-color: #172742;
  --azul-firts: #1760E5;
  --blanco: #fff;
  --fondo-login: #699bf7;
  --negro: #000;
  --gris-login: #292C33;
  --verde-promo: #0FFF27;
  --azul-dias: #0897B7;
  --verde-horas: #45DD2C;
}

.rol a{
    color: var(--blanco);
}

/* Usuario */

#fondo_login {
    background: linear-gradient(180deg, rgb(7, 147, 182) 0%, #09109C 100%);
    height: 105vh;
}

.formulario {
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #fff;
    background: #0a1736;
    box-shadow: 0px -10px 4px 2px rgba(0, 0, 0, 0.35);
    margin: 0 auto;
    height: 27em;
    width: 26em;
}

.titulo_sesion {
    color: var(--blanco);
    text-align: center;
    font-family: roboto;
    font-size: 1.3em;
    position: relative;
    top: 1.5em;
}

.formulariouser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-user {
    padding: 20px;
}

.usuario {
    background: #0a1736;
    border: 0;
    border-bottom: solid 3px var(--blanco);
    box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, 0.35);
    position: relative;
    bottom: 7px;
    color: var(--blanco);
    margin: 11.2px;
    width: 370px;
}

.usuario::placeholder {
    color: #ffffff5e;
    position: relative;
    left: 15px;
}

.btn-login {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.btn-entrar {
    border: 1px solid #fff;
    background: #1760E5;
    height: 45px;
    font-weight: bold;
    width: 115px;
}

.recovery {
    padding: 20px;
    text-align: center;
}

.recovery a {
    color: var(--blanco);
}

figure {
    align-items: center;
    display: flex;
}

.logo_leon figure {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.logo_leon figure img {
    height: 120px;
    width: 100px;
}

.logo_leon figure figcaption {
    font-size: 1.7em;
}

figcaption {
    color: var(--blanco);
    padding: 10px;
    font-size: 1.7em;
    font-family: sans-serif;
}

.iconos {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icon-user {
    height: 45px;
    width: 45px;
}

footer {
    color: var(--blanco);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

/* Final de usuario */

/* Pantalla principal de administrador */

#fondo_body {
    background-color: #172742;
}

.menu_admin {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_estudent {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Contenedores */

.items_admin {
    align-items: center;
    border-radius: 20px;
    border: solid 2px var(--blanco);
    background: #00000025;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    transition: 0.6s;
    overflow: hidden;
    margin: 10px;
    height: 125px;
    width: 150px;
}

/* Por si desea añadir imagen tendra este tamaño */

.items_admin img {
    height: 50px; 
    width: 50px;
}

.items_admin p {
    color: var(--blanco);
    font-size: 1.3em;
    text-shadow: 3px 3px 3px #292C33;
}

.items_admin .num_curso {
    font-size: 57px;
    text-align: center;
    font-weight: bold;
}

.items_admin:hover {
    background-color: #0792B6;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.items_admin h2 a {
    color: var(--blanco);
    text-decoration: none;
    text-shadow: 2px 2px 2px #08052c;
}

.items_admin h2 a:hover {
    color: #0cd1b0;
} 

.items_admin ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.items_admin ul li {
    align-items: center;
    color: var(--blanco);
    display: inline;
    font-size: 28px;
    font-family: fantasy;
    transition: 0.3s;
    text-align: center;
    text-shadow: 1px 1px 1px #292C33;
    letter-spacing: 3px;
    position: relative;
    right: 16px;
}

.items_admin ul .numer {
    font-size: 25px;
    font-family: fantasy;
    letter-spacing: 3px;
    margin: 0 auto;
}

.items_admin ul li:hover {
    color: #000;
}

.items_admin ul li img {
    height: 45px;
    width: 45px;
}

.users_add {
    border: 0;
    background-color: #172742;
    color: var(--blanco);
    font-size: 17px;
    text-align: center;
}

.users_add option {
    padding: 10px;
}

/* Final de contenedor items */

.imagen_admin  {
    bottom: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    width: auto;
}

.imagen_admin img {
    width: 350px;
    height: 220px;
    object-fit: cover;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.header_administrador {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_administrador img {
    width: 55px;
    height: 55px;
}

.header_administrador h2 {
    color: var(--blanco);
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    padding: 5px;
}

/* Gestion de usuarios */

.titulo_usuario {
    color: var(--blanco);
    text-align: center;
}

/* Profesor admin */
.img_add {
    bottom: 45px;
    display: flex;
    position: relative; 
    left: 1175px;   
}

.img_add_math {
    bottom: 45px;
    display: flex;
    position: relative; 
    left: 850px;
}

.img_add_plus {
    bottom: 45px;
    display: flex;
    position: relative; 
    left: 380px;
}

.titulo_profesor_admin {
    align-items: center;
    background-color: #0A0E20;
    border-bottom: 1px solid var(--blanco);
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
    color: var(--blanco);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.titulo_profesor_admin img {
   padding: 15px;
}

.titulo_profesor_admin h1 {
   margin: 0 auto;
}

/* Tablas */
.table_content {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    padding: 8px;
}

.table_Profe {
    margin: 0 auto;
}

.table_materia {
    width: 350px;
}

table {
    border-collapse: collapse;
    width: 75%;
}

.table_EP {
    box-shadow: none;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 35%;
}

th {
    color: var(--blanco);
    text-align: center;
    text-shadow: 3px 3px 3px #292C33;
    font-family: sans-serif;
    font-size: 15.3px;
    border-right: 1px solid var(--blanco);
    border: 1px solid #ddd;
    padding: 2.5px;
}

td {
    border: 1px solid #ddd;
    background-color: var(--blanco);
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding: 2.2px;
    font-family: sans-serif;
}

.th_padding {
    padding: 8px;
}

.edit_delet {
    display: flex;
    justify-content: space-evenly;
}

/* Table de programa de clase */
td ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    position: relative;
    right: 17px;
}

/* Final de tablas */

/* Final de administrador */

/* Estudiante */

.direc_curs {
    align-items: center;
    border-radius: 5%;
    border-bottom: solid 1px var(--blanco);
    border-top: solid 1px var(--blanco);
    background-color: #172742;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 auto;
    height: 46px;
    width: 360px;
}

.direc_curs p {
    
    color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27.344px;
    font-style: normal;
    font-weight: 400;
    text-shadow: 0.7px 1px 1px #292C33;
    line-height: normal;
}

/* cambios de asignaciones */

.recursos_estudiante{
    display: flex;
    justify-content: center;
}

.recursos_estudiante table {
    text-align: center;
    padding: 10px;
    background-color: #000;
    columns: #000;
}

.recursos_estudiante td {
    display: grid;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-family: 'sans-serif';
    border: 3px solid #fff;
    background-color: #000;
    color: #fff;
}

/* Final de estudiante */

/* Formularios */

.content_form {
    /* position: fixed;     */
}

form {
    background-color: #0a1736;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    transition: 0.5s;
  }

  .form_login {
      background-color: #0a1736;
      border: 0;
      border-radius: 10%;
      box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
      display: inline;
      max-width: 600px;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      transition: 0.5s;
  }

  .form_login input {
      padding: 3.5px;
      margin: 30px;
      width: 180px;
  }

    .formulario .msg3 {
        color: white;
        position: relative;
        top: 30px;
        left: 44px;
    }

  .grupo_input img {
    position: absolute;
    /* margin-left: 20px; */
}

  .form_login .formulariouser label {
      visibility: hidden;
      font-family: sans-serif;
      font-weight: bold;
      margin-left: 30px; 
  }

  .iconi {
      position: absolute;
      top: 412px;
  }

    .icon-user2 {
        position: relative;
        top: 30px;
        left: 25px;
    }

  form:hover {
    box-shadow: 3px;
  }

  form input {
    border: 1px solid var(--blanco);
  }
  
  form button {
    color: var(--blanco);
    cursor: pointer;
    background: green;
    border: solid 1px var(--blanco);
    font-size: 14px;
    transition: 0.3s;
    padding: 1em;
  }

  form button:hover {
    background-color: #175fe5c7;
  }

  fieldset {
    color: var(--blanco);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  fieldset:hover {
      box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.25);
  }

  .form_pe {
    background-color: #0a1736;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .form_shadow {
      background-color: #172742;
      border: 0;
      box-shadow: 0px 0px 0px 0px;
  }
  
  .labels {
      display: grid;
  }
  
  label {
    color: var(--blanco);
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 19.5px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .bajo {
     position: relative;
     top: 12px;
  }

  .arriba {
      bottom: 12px;
  }

  .content_usuAna {
    margin: 0 auto;
    width: 430px;
  }

  .usuAna {
    width: 105px;
  }

  .derec {
    position: relative;
    right: 27px;
    top: 0.1px;
  }

  form h2 {
    color: #08a3b7;
  }

  input:focus {
    outline: 1px solid var(--blanco);
  }

  #boton_add {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  ::-webkit-calendar-picker-indicator {
    background-color: var(--blanco);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.1s;
  }

  ::-webkit-calendar-picker-indicator:active {
    background-color: #1760E5;
  }

  /* Perfiles */

  .header_perfil {
      position: relative;
      left: 700px;
  }

  .perfil_rol {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    .perfil_rol .perefil {
        font-size: 12px;
        position: relative;
        top: 15px;
    }

    .perfil_rol .profile {
        font-size: 12px;
        position: relative;
        bottom: 15px;
    }

    .campoinfo {
        display: flex;
        justify-content: center;
    }

    .input2 {
        box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
        background-color: #08052c;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .label2 {
        box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
        background-color: #08052c;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .pefil-foto {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .pefil-foto img {
        position: relative;
        top: 15px;
    }

    .pefil-foto p {
        color: var(--blanco);
        font-size: 18px;
        font-weight: bold;
        font-family: sans-serif;
    }

    /* css de perfil enlaces */

    nav {
        margin: auto;
        font-size: 14px;
    }

    .menu-horizontal {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .menu-horizontal>li>a {
        display: block;
        color: white;
        text-decoration: none;
    }

    .menu-horizontal>li:hover {}

    .menu-vertical {
        position: absolute;
        justify-content: center;
        display: none;
        list-style: none;
        text-align: center;
    }

    .menu-horizontal li:hover .menu-vertical {
        display: block;
        right: 93px;
    }

    .menu-vertical li:hover {
        background-color: #0792B6;
    }

    .menu-vertical li {
        transition: all 0, 2;
    }

    .menu-vertical li a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: block;
        justify-content: center;
        color: white;
        text-decoration: none;
        padding: 3px;
        /* border-bottom: 1px solid var(--blanco); */
    }

    .menu-horizontal li:hover .verticale {
        right: 72px;
    }

    .menu-horizontal li:hover .verticale3 {
        right: 59px;
    }

  /* Final de perfiles */

  /* Calificaciones */
  .listado_de_semestres {
    border-top: solid 1px var(--blanco);
    display: flex;
    justify-content: center;
  }

  .listado_de_semestres ul li {
    background-color: #084eb7;
    color: var(--blanco);
    display: inline-block;
    transition: all 0.3s;
    padding: 10px;
    margin: 3px;
  }

  .listado_de_semestres ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .listado_de_semestres ul li:hover {
    background-color: #084eb7d2;
    cursor: pointer;
  }

  .estudent_grade {
    display: flex;
  }

  .raya {
    border: solid 1px var(--blanco);
  }

  .estudent_grade h2 {
    background-color: #08052c;
    border-bottom: solid 1px var(--blanco);
    color: var(--blanco);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
  }

  .select_semestre {
    text-align: center;
    color: rgba(9, 255, 0, 0.842);
  }

  /* Calificaciones */

  .ta_selec {
      height: 35px;
      width: 105px
  }

  .move_label {
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      position: relative;
      font-size: 16px;
      top: 25px;
      left: 25px;
  }

  .dark {
    visibility: hidden;
  }

  .nigun_dato {
    color: var(--blanco);
    background-color: #0A0E20;
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
  }

  .content_table {
    margin-bottom: 75px;
  }

  .calif_th {
    padding: 10px;
  }

  .calif_td {
    padding: 6px;
  }

  .calif_td input {
    font-weight: bold;  
    width: 60px;
    padding: 4px;
    text-align: center;
  }
  /* Final de calificaciones */

  /* Gestio de Tareas */

  .content_tareas {
    background-color: #0792B6;
    display: flex;
    justify-content: center;
    
  }
  /* Final de tareas */

/* Media query del login */

@media screen and (max-width: 560px) {
    .formulario {
        width: 100%;
    }

    figure {
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    figure img {
        height: 200px;
        width: 170px;
    }

    .formulario {
        flex-wrap: wrap;
        width: 100%;
    }

    .inputs .usuario {
        width: 240px;
    }
  
    .icono_houston {
        position: relative;
        right: 45px;
        bottom: 11px;
    }

      .ana_modi {
          position: relative;
          left: 1px;
    }

    /* Media query de los items */

    .items_admin {
        text-align: center;
        width: 130px;
        height: 120px;
    }

    .items_admin:hover {
        background-color: #0792B6;
    }

    footer {
        visibility: hidden;
    }

    .icono_houston figcaption {
        font-size: 16px;
    }

    .icono_houston img { 
        width: 75px;
        height: 80px;
    }

    .header_administrador {
       display: flex;
       justify-content: center;
       flex-direction: column;
    }

    .perfil_rol {
        position: relative;
        bottom: 43px;

    }

    .menu-horizontal img {
        position: relative;
        right: 20px;
    }

    .items_admin p {
        visibility: hidden;
    }

}

/* Media query para formulario */
@media screen and (max-width: 860px) {
    .titulo_profesor_admin h1 {
        font-size: 25px;
    }

}

/* media query de tablas */
@media screen and (max-width: 1100px) {
    .table_Profe {
       display: flex;
       justify-content: center;
       align-items: center;
    }

    td,th {
        font-size: 13px;
    }

    .ocultar {
        display: none;
    }

    .edit_delet {
        display: flex;
        padding-bottom: 20px;
    }

    .edit_delet img {
         position: relative;
         top: 10px;
    }

}